:root {
	--light-color : #BFBFBF;
	--dark-color : #353535;
}

body {
    font-family : 'Ubuntu', sans-serif;
    color : var(--light-color);
    background-color : var(--dark-color);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Utilisation de 100% de la hauteur de la fenêtre */
    overflow: hidden;
}
header {
    position: relative;
    background-color: #262626;
}

.header-content {
    display: flex;
    height : 100px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-bottom: 15px;
    /*box-sizing: border-box;*/
}

h1, #affichage_etape {
	margin : 0px;
	margin-left: 100px;
	margin-right: 100px;
	font-size : 50px;
	font-weight : bold;
}

#affichage_etape {
    opacity : 0.5;
}

.header-buttons, .header-title, .header-container{
    display: flex;
    align-items: center;
}

#nextButton, #previousButton {
    height:50px;
    margin-left: 30px;
	margin-right: 30px;
}

.round-button {
    margin: 10px;
    cursor: pointer;

    display : inline;
	height : 40px;
	width : 40px;

	font-size : 15px;
	color : var(--light-color);
	background-color : transparent;
	transition: background-color 0.3s ease-out, color 0.3s ease-out;

	border : var(--light-color) solid 1px;
	border : none;
	border-radius: 20px;

	position: relative;
	vertical-align: middle;
}

#pp-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width : 120px; /* Ajuste la hauteur selon tes besoins */
}

.round-button:hover {
	background-color : var(--light-color);
	color : var(--dark-color);
	transition: background-color 0.3s ease-out, color 0.3s ease-out;
}

#nombre_passages {
    background: none;
    border: none;
    font-family: 'Ubuntu', sans-serif; /* Utilise la police Ubuntu */
    font-size: 20px;
    color: gray;
    width: 40px;
    height: 30px;
    padding: 0; /* Supprime le padding par défaut */
    margin: 0; /* Supprime la marge par défaut */
    outline: none; /* Supprime la bordure de focus */
}



#loading-bar-container {
    position: absolute;
    bottom: 0; /* Ajustez en fonction de la hauteur de votre header */
    left: 0;
    height: 5px; /* Hauteur de la barre de chargement */
    width: 100%; /* La largeur initiale est 0, elle augmentera avec l'animation */
    background-color: #CCCCCC; /* Couleur de la barre de chargement */

    transition: width 0.3s; /* Animation de la largeur de la barre de chargement */
}


#loading-bar {
    position: absolute;
    bottom: 0; /* Ajustez en fonction de la hauteur de votre header */
    left: 0;
    height: 100%; /* Hauteur de la barre de chargement */
    width: 50px; /* La largeur initiale est 0, elle augmentera avec l'animation */
    background-color: #FF0000; /* Couleur de la barre de chargement */
    transition: width 0.3s; /* Animation de la largeur de la barre de chargement */
    cursor: pointer;

}

.main-content {
    display: flex;
    height: 100vh;
}

.left-content, .right-content {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    width:50%;
}

#image-display{
    position: relative;
}

#schema {
    /* border: 1px solid #000; */
    width:100%;
    aspect-ratio: 3/2;
}

.point {
    fill: #ff0000;
}

.ligne {
    stroke: #BFBFBF;
    transition: stroke-width 0.3s;
}