:root {
	--light-color : #c0bab2;
	--dark-color : #353535;
}

body {
    font-family : 'Ubuntu', sans-serif;
    color : var(--light-color);
    background-color : #282b2d;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Utilisation de 100% de la hauteur de la fenêtre */
    overflow: hidden;
}

#overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent; /* Fond semi-transparent */
    backdrop-filter: blur(0px); /* Applique un flou à l'arrière-plan */
    z-index: 999; /* Empilement au-dessus de tout */
    transition: backdrop-filter 0.3 ease;
}

#overlay:hover {
    display: block;
    backdrop-filter: blur(20px);
}

header {
    position: relative;
    background-color: rgb(29, 31, 32);
}

.header-content {
    display: flex;
    height : 100px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-bottom: 15px;
}

h1 {
	margin : 0px;
	margin-left: 100px;
	margin-right: 100px;
	font-size : 50px;
	font-weight : bold;
}

#network-selection {
    background: none;
    border: none;
    font-family: 'Ubuntu', sans-serif; /* Utilise la police Ubuntu */
    font-size: 50px;
    font-weight : bold;
    color: var(--light-color);
    background-color: rgb(29, 31, 32);
    padding: 0;
    margin: 0 -5px 0 13px;
    outline: none; /* Supprime la bordure de focus */
}

#affichage_etape {
    opacity : 0.5;
    width : 100px;
}

#previouspage-icon, #nextpage-icon {position: relative;height : 65px;}
#previouspage-link, #nextpage-link {width : 100px;}

#previouspage-icon {left: 30px; transition: left 0.3s ease;}
#previouspage-link:not(.disabled_button):hover #previouspage-icon {left: 0}

#nextpage-icon {right: 0px; transition: right 0.3s ease;}
#nextpage-link:not(.disabled_button):hover #nextpage-icon {right: -30px}

button {
    border : none;
    background-color : transparent;
    padding : 0px;
}

.round-button {
    height : 50px;
    min-width : 50px;
    border-radius : 25px;
    margin : 10px;


    transition: border 0.3s;
    border: 2px solid #c0bab250;

    cursor: pointer;
}

.round-button:hover:not(.disabled_button) {
    border-color : var(--light-color);
}

.round-button:disabled {
    opacity : 0.2;
    border-color : var(--light-color);
    cursor: not-allowed;
}

.round-button.disabled_button {
    opacity : 0.2;
    border-color : var(--light-color);
    cursor: not-allowed;
}

#control-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#play-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius : 27px;
}

#play-button-icon {
    height : 40px;
    margin-right: 5px;
}

#rewind-button-icon {
    height : 30px;
}

#input-nombre_passages {
    background: none;
    border: none;
    font-family: 'Ubuntu', sans-serif; /* Utilise la police Ubuntu */
    font-size: 30px;
    color: var(--light-color);
    width: 50px;
    height: 30px;
    padding: 0;
    margin: 0 -5px 0 13px;
    outline: none; /* Supprime la bordure de focus */
}

#loading-bar-container {
    position: absolute;
    bottom: 0; /* Ajustez en fonction de la hauteur de votre header */
    left: 0;
    height: 5px; /* Hauteur de la barre de chargement */
    width: 100%; /* La largeur initiale est 0, elle augmentera avec l'animation */
    background-color: rgb(53, 57, 59); /* Couleur de la barre de chargement */

    transition: width 0.3s; /* Animation de la largeur de la barre de chargement */
    cursor: pointer;
}

#loading-bar {
    position: absolute;
    bottom: 0; /* Ajustez en fonction de la hauteur de votre header */
    left: 0;
    height: 100%; /* Hauteur de la barre de chargement */
    width: 0; /* La largeur initiale est 0, elle augmentera avec l'animation */
    background-color: #FF0000; /* Couleur de la barre de chargement */
    transition: width 0.3s; /* Animation de la largeur de la barre de chargement */
}

.main-content {
    display: flex;
    height: 100vh;
}

.left-content, .right-content {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    width:50%;
    height: 100%;
}
.right-content {
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    align-items: center;
}

#image-display{
    position: relative;
}

.image {
    position : absolute;
    top : 0;
    left : 0;
    width : 100%;

}

.arrow-propagation {
    margin: 10px;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
}

.arrow-propagation:hover {
    opacity: 1;
}

#schema {
    width:80%;
    aspect-ratio: 3/2;
    z-index: 1;
    margin: 20px;
}

.schema-text {
    font-family:Ubuntu;
    font-size: 25px;
    font-weight: bold;
    fill: var(--light-color);
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
}

.schema-text:not(.layer-title):hover {
    opacity: 1;
}

.layer-title {
    text-anchor: middle;
    dominant-baseline: middle;
}

#input-layer-box:hover ~ #input-layer-title {
    opacity: 1;
}

#perceptron-title-left {
    text-anchor: end;
}

#perceptron-title-right {
    text-anchor: start;
}

rect {
    rx: 20px;
    ry: 20px;
}

.info-box {
    fill: #282b2d;
    stroke: var(--light-color);
    stroke-width: 3px;
    stroke-opacity: 0.5;
    transition: stroke-opacity 0.3s ease-in-out;
}

.info-box:not(.net-layer):hover {
    stroke-opacity: 1;
}



.point {
    fill: #ff0000;
}

.ligne {
    stroke: #42484a;
    transition: stroke-width 0.3s;
}