<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ma Page</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/style.css">
</head>
<body>

    <header>
        <!-- ... votre bandeau d'entête existant ... -->
    </header>

    <div class="main-content">
        <div class="center-buttons">
            <a href="./perceptron.html" class="page-link">
                <button class="center-button">Perceptron</button>
            </a>
            <a href="./reseausimple.html" class="page-link">
                <button class="center-button">Réseau Simple</button>
            </a>
            <a href="./morpion.html" class="page-link">
                <button class="center-button">Morpion</button>
            </a>
        </div>
        <form action="{{ url_for('perceptron') }}" method="get">
            <button type="submit">Accéder à la page Perceptron</button>
        </form>
        <form action="{{ url_for('reseausimple') }}" method="get">
            <button type="submit">Accéder à la page ReseauSimple</button>
        </form>
    </div>

</body>
</html>
