<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ma Page</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.3/socket.io.js"></script>
</head>
<body>

    <div id="index-content">
        <h1 class="main-title" >NEURODIDACT</h1>
        <p style="width: 1300px;">Bienvenue dans ce module d'initiation aux réseaux de neurones.<br>Les réseaux de neurones sont de plus en plus répendus mais peu de gens savent réelement comment ils fonctionnent ; c'est ce que vous allez commencer à apprendre ici !<br><br>Ce module est composé de trois parties, une qui présente le perceptron, ou autrement dit un neuronne du réseau, une deuxième qui présente un réseau très simple qui fait des tâches de classification et que vous allez pouvoir entrainer vous même, et enfin une troisième partie dans laquelle vous allez pouvoir affronter un réseau qui a appris à jouer au morion !<br>Pour une meilleure compréhension il est recommender de les faire dans l'ordre :</p>
        <div class="pages-links">
            <a class="main-page-link" href="{{ url_for('perceptron') }}"><img class="page-icon" src="../static/icons/perceptron-icon.svg"><p class="page-name">1. PERCEPTRON</p></a>
            <a class="main-page-link" href="{{ url_for('reseausimple') }}"><img class="page-icon" src="../static/icons/reseausimple-icon.svg"><p class="page-name">2. RESEAU SIMPLE</p></a>
            <a class="main-page-link" href="{{ url_for('tictactoe') }}"><img class="page-icon" src="../static/icons/tictactoe-icon.svg"><p class="page-name">3. MORPION</p></a>
        </div>

    </div>

    <footer>
        <script>
            const socket = io.connect('http://' + document.domain + ':' + location.port + '/');

            function close_app() {
                socket.emit('close-app');
                alert("Vous pouvez maintenant fermer l'onglet.");
            }
        </script>
        <button id="exit-button" onclick="close_app()">quitter</button>
        <a href="https://framagit.org/Mezia137/neuronalnet" target="_blank"><img id="git-icon" width="30px" src="../static/icons/git-icon.svg"></a>
    </footer>

</body>
</html>
