<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ma Page</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/style.css">
</head>
<body>

    <header>
        <!-- ... votre bandeau d'entête existant ... -->
    </header>

    <div id="index-content">
        <h1>NEURODIDACT</h1>
        <p>fargfdasfgdsfgsdfgsdf
        gsd
        fg
        sdf
        gsd
        fg
        sdfgggggggggggggggsdf
        gsd
        fg
        dsfggggggggggggggggg
        sdf
        </p>
        <div>
            <a href="{{ url_for('perceptron') }}"><img src="../static/icons/perceeptron-icon.svg"></a>
            <a href="{{ url_for('reseausimple') }}"><img src="../static/icons/reseausimple-icon.svg"></a>
            <a href="{{ url_for('tictactoe') }}"><img src="../static/icons/reseausimple-icon.svg"></a>
        </div>
        <button>quitter</button>
    </div>

</body>
</html>
