    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ma Page</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.3/socket.io.js"></script>
</head>
<body>
    <header>
        <div class="header-content">
            <a href="/"><div id="previouspage-link"><img src="../static/icons/previous.svg" alt="Previous" id="previouspage-icon"></div></a>

            <div style="display: flex;">
                <h1>PERCEPTRON</h1>
                <img class="info-icon" style="left: -90px;" src="../static/icons/info.svg" data-infobox-id="null"  onclick="document.getElementById('perceptron-tile').classList.toggle('active')"/>
            </div>
            <h1 id="affichage_etape">0</h1>
            <div id="control-buttons-container">
                <img class="info-icon" style="right: 10px;" src="../static/icons/info.svg" data-infobox-id="infobox1"/>
                <div class="round-button" id="play-button-container">
                    <input type="number" id="input-nombre_passages" name="nombre de passages" value=10 min="1" max="99">
                    <button onclick="startTraining()"><img src="../static/icons/play.svg" alt="Play" id="play-button-icon"></button>
                </div>
                <button class="round-button" onclick="restartTraining()"><img src="../static/icons/rewind.svg" alt="Rewind" id="rewind-button-icon"></button>
            </div>

            <a href="{{ url_for('reseausimple') }}"><div id="nextpage-link"><img src="../static/icons/next.svg" alt="Next" id="nextpage-icon"></div></a>

        </div>

        <div id="loading-bar-container"><div id="loading-bar" ></div></div>
    </header>

    <div class="main-content">
        <div class="left-content">
            <div id="image-display">
            </div>


        </div>
        <div class="right-content">
            <img class="arrow-propagation" src="../static/icons/fparrow.svg" width="60%" onclick="document.getElementById('forward-tile').classList.toggle('active')">
            <svg id="schema">

                <line class="ligne" id="w0" x1="10%" y1="32%" x2="40%" y2="50%"/>
                <line class="ligne" id="w1" x1="10%" y1="68%" x2="40%" y2="50%"/>

                <line class="ligne" id="b" x1="30%" y1="18%" x2="40%" y2="50%"/>

                <rect class="info-box" x="2%" y="25%" width="15%" height="50%"/>
                <circle class="info-box" cx="30%" cy="18%" r="7%"/>

                <image class="info-box" href="../static/icons/perceptron.svg" x="30%" y="30%" width="40%" height="40%"/>

                <rect class="info-box" x="70%" y="40%" width="19%" height="21%"/>

                <text x="42.5%" y="85%" class="schema-text-title" id="perceptron-title-left">
                    <tspan x="43.5%" dy="-1em">FONCTION</tspan>
                    <tspan x="42.5%" dy="1.1em">DE SOMME</tspan>
                </text>
                <text x="52%" y="85%" class="schema-text-title" id="perceptron-title-right">
                    <tspan x="52%" dy="-1em">FONCTION</tspan>
                    <tspan x="52%" dy="1.1em">D'ACTIVATION</tspan>
                </text>


                <text x="4%" y="50%" class="schema-text">
                    <tspan>position</tspan>
                    <tspan x="4%" dy="25px">du point</tspan>
                </text>
                <text x="13%" y="37%" class="schema-text-title">
                    <tspan>X</tspan>
                    <tspan x="13%" dy="30%">Y</tspan>
                </text>
                <text x="27%" y="22%" class="schema-text">biais</text>
                <text x="72%" y="52%" class="schema-text">
                    <tspan>probabilité</tspan>
                    <tspan x="72%" dy="25px">couleur</tspan>
                </text>

                <image class="info-icon" x="3.3%" y="27%" href="../static/icons/info.svg" data-infobox-id="infobox2"/>
                <image class="info-icon" x="28%" y="11%" href="../static/icons/info.svg" data-infobox-id="infobox3"/>
                <image class="info-icon" x="71.3%" y="42%" href="../static/icons/info.svg" data-infobox-id="infobox4"/>
                <image class="info-icon" x="20%" y="75.5%" href="../static/icons/info.svg" data-infobox-id="infobox5"/>
                <image class="info-icon" x="71%" y="75.5%" href="../static/icons/info.svg" data-infobox-id="infobox6"/>

            </svg>
            <img class="arrow-propagation" src="../static/icons/bparrow.svg" width="60%" onclick="document.getElementById('backward-tile').classList.toggle('active')">
        </div>
    </div>
    <div id="infobox1" class="infobox"><p>Ici vous pouvez controler l'entrainement du perceptron. Selectionner le nombre du passages du jeu de données et lancez l'entrainement avec la flèche. Vou pourrez ensuite revenir aux étapes précédentes en utilisant la barre d'avancement ou le réinitialiser avec le bouton réinitialiser</p></div>
    <div id="infobox2" class="infobox"><p>Information pour le bouton 3. asddddddddddddddg sdfgsdffffffffff</p></div>
    <div id="infobox3" class="infobox"><p>Information pour le bouton 3. asddddddddddddddg sdfgsdffffffffff</p></div>
    <div id="infobox4" class="infobox"><p>Information pour le bouton 4. asddddddddddddddg sdfgsdffffffffff</p></div>
    <div id="infobox5" class="infobox"><p>Information pour le bouton 5. asddddddddddddddg sdfgsdffffffffff</p></div>
    <div id="infobox6" class="infobox"><p>Information pour le bouton 6. asddddddddddddddg sdfgsdffffffffff</p></div>
    <div class='tile' id="perceptron-tile">
        <button class="exit-tile-button" onclick="document.getElementById('perceptron-tile').classList.toggle('active')">fermer</button>
        <div class="tile-content">
            <h1>PERCEPTRON</h1>
            <div style="margin: 50px 0;">
                <p>texte perceptron...</p>
            </div>

        </div>
    </div>
    <div class='tile' id="forward-tile">
        <button class="exit-tile-button" onclick="document.getElementById('forward-tile').classList.toggle('active')">fermer</button>
        <div class="tile-content">
            <h1>FORWARD PROPAGATION</h1>
            <div style="margin: 50px 0;">
                <p>texte forward...</p>
            </div>

        </div>
    </div>
    <div class='tile' id="backward-tile">
        <button class="exit-tile-button" onclick="document.getElementById('backward-tile').classList.toggle('active')">fermer</button>
        <div class="tile-content">
            <h1>BACKWARD PROPAGATION</h1>
            <div style="margin: 50px 0;">
                <p>texte backward...</p>
            </div>

        </div>
    </div>

    <script src="{{ url_for('static', filename='js/perceptron.js') }}"></script>
</body>
</html>