<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ma Page</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.3/socket.io.js"></script>
</head>
<body>

    <header>
        <div class="header-content">

            <a href="../pages/perceptron.html"><div id="previouspage-link"><img src="../static/icons/previous.svg" alt="Previous" id="previouspage-icon"></div></a>

            <div class="header-title">
                <h1>RESEAU SIMPLE</h1>
            </div>
            <h1 id="affichage_etape">0</h1>
            <div id="control-buttons-container">
                <div class="round-button" id="play-button-container">
                    <input type="number" id="input-nombre_passages" name="nombre de passages" value=10 min="1" max="99">
                    <button onclick="startTraining()"><img src="../static/icons/play.svg" alt="Play" id="play-button-icon"></button>
                </div>
                <button class="round-button" onclick="restartTraining()"><img src="../static/icons/rewind.svg" alt="Rewind" id="rewind-button-icon"></button>
            </div>

            <a href="../pages/tictactoe.html"><div id="nextpage-link"><img src="../static/icons/next.svg" alt="Next" id="nextpage-icon"></div></a>

        </div>

        <div id="loading-bar-container"><div id="loading-bar" ></div></div>
    </header>

    <div class="main-content">
        <div class="left-content">
            <div id="image-display">
                <img src="../static/svg/0-000.svg" class="image">
            </div>


        </div>
        <div class="right-content">
            <svg id="propagation">
                <circle cx="50%" cy="50%" r="350" fill="transparent" stroke="#c0bab2" stroke-width="70" opacity="0.5"/>
            </svg>
            <svg id="schema">

                <rect class="net-layer" x="10%" y="0%" width="20%" height="100%" rx="25" ry="25" fill="#323844"/>
                <rect class="net-layer" x="40%" y="0%" width="20%" height="100%" rx="25" ry="25" fill="#323844"/>
                <rect class="net-layer" x="70%" y="0%" width="20%" height="100%" rx="25" ry="25" fill="#323844"/>

                <line class="ligne" id="w000" x1="20%" y1="35%" x2="50%" y2="20%" stroke="#BFBFBF" stroke-width="20"/>
                <line class="ligne" id="w010" x1="20%" y1="35%" x2="50%" y2="55%" stroke="#BFBFBF" stroke-width="20"/>
                <line class="ligne" id="w020" x1="20%" y1="35%" x2="50%" y2="90%" stroke="#BFBFBF" stroke-width="20"/>

                <line class="ligne" id="w001" x1="20%" y1="75%" x2="50%" y2="20%" stroke="#BFBFBF" stroke-width="20"/>
                <line class="ligne" id="w011" x1="20%" y1="75%" x2="50%" y2="55%" stroke="#BFBFBF" stroke-width="20"/>
                <line class="ligne" id="w021" x1="20%" y1="75%" x2="50%" y2="90%" stroke="#BFBFBF" stroke-width="20"/>

                <line class="ligne" id="w10" x1="50%" y1="20%" x2="80%" y2="55%" stroke="#BFBFBF" stroke-width="20"/>
                <line class="ligne" id="w11" x1="50%" y1="55%" x2="80%" y2="55%" stroke="#BFBFBF" stroke-width="20"/>
                <line class="ligne" id="w12" x1="50%" y1="90%" x2="80%" y2="55%" stroke="#BFBFBF" stroke-width="20"/>

                <circle class="point" cx="20%" cy="35%" r="20" fill="#ff0000"/>
                <circle class="point" cx="20%" cy="75%" r="20" fill="#ff0000"/>

                <circle class="point" cx="50%" cy="20%" r="20" fill="#ff0000"/>
                <circle class="point" cx="50%" cy="55%" r="20" fill="#ff0000"/>
                <circle class="point" cx="50%" cy="90%" r="20" fill="#ff0000"/>

                <circle class="point" cx="80%" cy="55%" r="20" fill="#ff0000"/>
            </svg>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
