<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ma Page</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.3/socket.io.js"></script>
</head>
<body>

    <header>
        <div class="header-content">
            <div class="header-buttons">
                <a href="../pages/perceptron.html" class="page-link"><img src="../static/icons/previous.svg" alt="Previous" class="icon-button" id="previousButton"></a>
            </div>
            <div class="header-title">
                <h1>RESEAU SIMPLE</h1>
            </div>
            <p id="affichage_etape">0</p>
            <div class="header-buttons">
                <input type="number" id="nombre_passages" name="nombre de passages" value=10>
                <button class="round-button" onclick="startTraining()">P</button>
                <button class="round-button" onclick="restartTraining()">R</button>
                <button class="round-button">S</button>
            </div>
            <div class="header-buttons">
                <a href="../pages/tictactoe.html" class="page-link"><img src="../static/icons/next.svg" alt="Next" class="icon-button" id="nextButton"></a>
            </div>
        </div>

        <input type="range" id="loading-bar" name="valeur" min="0" max="0" step="1" value="0" oninput="showImageN()">
    </header>

    <div class="main-content">
        <div class="left-content">
            <div id="image-display">

            </div>


        </div>
        <div class="right-content">
            <svg id="schema">


                <line class="ligne" x1="20%" y1="30%" x2="50%" y2="10%" stroke="#000"/>
                <line class="ligne" x1="20%" y1="30%" x2="50%" y2="50%" stroke="#000"/>
                <line class="ligne" x1="20%" y1="30%" x2="50%" y2="90%" stroke="#000"/>

                <line class="ligne" x1="20%" y1="70%" x2="50%" y2="10%" stroke="#000"/>
                <line class="ligne" x1="20%" y1="70%" x2="50%" y2="50%" stroke="#000"/>
                <line class="ligne" x1="20%" y1="70%" x2="50%" y2="90%" stroke="#000"/>

                <line class="ligne" x1="50%" y1="10%" x2="80%" y2="50%" stroke="#000"/>
                <line class="ligne" x1="50%" y1="50%" x2="80%" y2="50%" stroke="#000"/>
                <line class="ligne" x1="50%" y1="90%" x2="80%" y2="50%" stroke="#000"/>

                <circle class="point" cx="20%" cy="30%" r="20" fill="#ff0000"/>
                <circle class="point" cx="20%" cy="70%" r="20" fill="#ff0000"/>

                <circle class="point" cx="50%" cy="10%" r="20" fill="#ff0000"/>
                <circle class="point" cx="50%" cy="50%" r="20" fill="#ff0000"/>
                <circle class="point" cx="50%" cy="90%" r="20" fill="#ff0000"/>

                <circle class="point" cx="80%" cy="50%" r="20" fill="#ff0000"/>
            </svg>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
